@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  padding: 0;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F4F4F4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.text-custom {
  color: #F7BA74 !important;
}

.bg-navbar {
  background-color: #353E49 !important;
}

.bg-navbar .navbar-nav>li>a,
.navbar-brand {
  color: #fff !important;
}

.banner {
  height: 50vh;
  background: url("../images/recipe.png") 0 0 repeat;
  background-size: cover;
  background-position: 100% 100%;
  -webkit-animation: animate_background 10s linear 0s infinite;
  -moz-animation: animate_background 10s linear 0s infinite;
  -o-animation: animate_background 10s linear 0s infinite;
  animation: animate_background 10s linear 0s infinite;
}


/* Animate Background */

@-webkit-keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

@-moz-keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

@-o-keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

@keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}


/*Home search bar*/

#custom-search-input {
  margin-top: 10px;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}

.search-query:focus+button {
  z-index: 3;
}


/*Recipe*/

.recipe {
  border-radius: 5px 5px 3px 3px;
  box-sizing: border-box;
  color: #191919;
  margin: 0 0 20px 0;
  height: 300px;
  max-height: 300px;
  position: relative;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(25, 25, 25, 0.2);
  cursor: pointer;
  padding-top: 10px;
  overflow-y: hidden;
}

.recipe:hover {
  box-shadow: 0 0 3px rgba(25, 25, 25, 0.2);
  /* Add animation on hover */
}


/* Float Shadow */

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.recipe .recipe-img {
  height: 50% !important;
  background-image: url("../images/dish2.jpg") !important;
  background: no-repeat scroll;
  background-size: cover;
  background-position: 100% 100%;
}

.recipe .recipe-img2 {
  height: 50% !important;
  background-image: url("../images/dish.jpg") !important;
  background: no-repeat scroll;
  background-size: cover;
  background-position: 100% 100%;
}

.recipe .recipe-meta {
  height: 33%;
}

.recipe .recipe-meta2 {
  height: 15%;
}

.recipe .recipe-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-details-container {
  min-height: 70vh;
}

.recipe-big-img img {
  width: 100%;
  height: 70%;
}

.recipe-image-thumb {
  width: 95px !important;
  height: 100px !important;
  box-shadow: 0 0 1px #555;
  cursor: pointer;
}

#sticky.stick {
  margin-top: 0 !important;
  z-index: 10000;
  border-radius: 0;
  width: 100%;
}

.modal {
  z-index: 11000;
}

.unstick {
  position: static;
}

.file-upload {
  position: relative;
  overflow: hidden;
  text-align: center;
  /*    background-image: url('/img/add_image.JPG');*/
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.file-upload:before {
  position: absolute;
  font-family: 'FontAwesome';
  align-items: center;
  align-content: center;
  content: "\f030";
  font-weight: bolder;
  font-size: 50pt;
}

.file-upload input.recipe-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  text-align: center;
}

.user-profile-outer {
  height: 450px;
  max-height: 450px;
}

.avatar-area {
  height: 40%;
}

.sta-area {
  height: 15%;
}

ul.user-profile,
.user-profile li {
  list-style: none;
  text-align: left !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  background-color: #726452;
}

.user-profile li {
  border-bottom: 1px solid #888;
  text-align: left !important;
}

.user-profile>li>a {
  display: block;
  text-align: left;
  padding: 5px;
  color: #fff;
}


/* Button pop style */

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-pop:before {
  content: "\f005";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-pop:hover:before,
.hvr-icon-pop:focus:before,
.hvr-icon-pop:active:before {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/*////////////////////////////////////Review/////////////////////////////*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .recipe {
    margin-bottom: 10px !important;
  }
  .banner {
    padding-top: 20px !important;
  }
}