@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    padding:0;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F4F4F4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.wrapper{flex: 1;}
.text-custom{color: #F7BA74 !important;}
.bg-navbar{ background-color: #353E49 !important;}
.bg-navbar  .navbar-nav > li > a, .navbar-brand { color: #fff !important; }
.banner{
    height: 50vh;
    background: url("../images/recipe.png") no-repeat scroll;
    background-size: cover;
    background-position: 100% 100%;
}

/*Home search bar*/
#custom-search-input {
    margin-top: 10px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

/*Recipe*/

.recipe{
    border-radius: 5px 5px 3px 3px;
    box-sizing: border-box;
    color: #191919;
    margin: 0 0 20px 0;
    height: 300px;
    max-height: 300px;
    position: relative;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(25,25,25,0.2);
    cursor: pointer;
    padding-top: 10px;
    overflow-y: hidden;
}
.recipe:hover{
    box-shadow: 0 0 3px rgba(25,25,25,0.2);
}

.recipe .recipe-img{
    height: 50% !important;
    background-image: url('../images/dish2.jpg') !important;
    background: no-repeat scroll;
    background-size: cover;
    background-position: 100% 100%;
}

.recipe .recipe-img2{
    height: 50% !important;
    background-image: url('../images/dish.jpg') !important;
    background: no-repeat scroll;
    background-size: cover;
    background-position: 100% 100%;
}

.recipe .recipe-meta{
    height: 33%;
}

.recipe .recipe-meta2{
    height: 15%;
}

.recipe .recipe-name{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-details-container{
    min-height: 70vh;
}

.recipe-big-img img{
    width: 100%;
    height: 70%;
}

.recipe-image-thumb{
    width: 95px !important;
    height: 100px !important;
    box-shadow: 0 0 1px #555;
    cursor: pointer;
}


#sticky.stick {
    margin-top: 0 !important;
    z-index: 10000;
    border-radius: 0;
    width: 100%;
}

.modal{
    z-index: 11000;
}

.unstick {
 position: static;
}

.file-upload {
    position: relative;
    overflow: hidden;
    text-align: center;
/*    background-image: url('/img/add_image.JPG');*/
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}

.file-upload:before {
    position: absolute;
    font-family: 'FontAwesome';
    align-items: center;
    align-content: center;
    content: "\f030";
    font-weight: bolder;
    font-size: 50pt;
}

.file-upload input.recipe-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    text-align: center;
}

.user-profile-outer{
    height: 450px;
    max-height: 450px;
}

.avatar-area{
    height: 40%;
}

.sta-area{
    height: 15%;
}

ul.user-profile, .user-profile li{
    list-style: none;
    text-align: left !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    background-color: #726452;
}
.user-profile li{
    border-bottom: 1px solid #888;
    text-align: left !important;
}
.user-profile > li > a{
    display: block;
    text-align: left;
    padding: 5px;
    color: #fff;
}


/*////////////////////////////////////Review/////////////////////////////*/


@media only screen and (min-width: 320px) and (max-width: 479px){
.recipe{margin-bottom: 10px !important;} .banner{padding-top: 20px !important;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {}
@media (min-width: 768px) {

}
