{
    "presets": [
      ["env"],
      "stage-1",
      "react"
    ],
    "env": {
        "development": {
          "presets": ["react-hmre"]
        },
      "production": {
        "presets": ["react", "es2015"]
      }
    }
  }